node_modules
logs
.env
.vs
.vscode
movies.json
userMovieCount.json
botData.json
taskAllUsers.json
taskMonthlyUsers.json
taskSubmissions.json
pollData.json
pollVotes.json
activeTask.json
recentKeywords.json
tasks-LEAGUES.json
tasks-MAIN.json
botStats.json